* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* body style */
body {
  font-family: montserrat;
  padding: 0px;
  margin: 0px;
  background: #1c323a;
}
/*beginning of nav bar image*/
.nav-img {
    background-image: url(../images/Hotel-banner.png);
    width: 100%;
    height: 606px;
}
/*ending of nav bar image*/

.booking-btn {
  text-decoration: none;
  color: inherit;
  padding: 10px 20px;
  border: 1px solid white;
  font-weight: 600;
  line-height: 37px;
}

.booking-btn:hover {
  background: #c3ac62b3;
}

#rooom-top-view {
  background-image: url(../images/Hotel-banner.png);
  background-size: cover;
  width: 100%;
  height: 500px;
  background-color: #c4c4c438;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #b18b11;
}

#rooms-container {
  padding: 105px 70px;
}

.room-view {
  display: flex;
  width: 100%;
  margin-bottom: 100px;
}

.room-image {
  background-size: cover;
  width: 55%;
  height: 500px;
  display: flex;
  align-items: flex-end;
  color: white;
  padding: 0 20px;
  font-family: Abhaya Libre ExtraBold;
}

.room-one-image{
  background-image: url(../images/dc412e96668419%201.png);
}

.room-two-image{
  background-image: url(../images/premium.png);
}

.room-three-image{
  background-image: url(../images/single.png);
}

.room-description {
  width: 45%;
  max-height: 500px;
  background: #b18b11;
  color: white;
  padding: 90px 50px;
}

.room-description > p {
  width: 90%;
  line-height: 1.4;
  margin-bottom: 25px;
  font-size: 1.3rem;
  margin-bottom: 70px;
  font-family: Montserrat
}

.room-action {
  display: flex;
  margin-top: 80px;
  justify-content: space-between;
}

.room-action span {
  font-size: 2rem;
}

.room-action h2{
    margin: auto 0;
    font-size: 1.5rem;
}

@media screen and (max-width: 1050px) {
  .room-view {
    display: block;
  }
  .room-image, .room-description {
    width: 100%;
  }
  .room-description > p {
    width: 100%;
    line-height: 1.5;
  }
}

/* footer style here */